.experiencia .subtitulo {
  grid-column: span 4;
  font-family: "Arvo", serif;
  max-width: 5ch;
  color: #e0e0e0;
}

.experiencia-conteudo {
  grid-column: 6 / -1;
}

.experiencia-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 48ch;
  color: #525252;
  margin-bottom: 60px;
}

.experiencia-texto strong {
  color: #141414;
}

.empresa {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 20px;
  background: #f5f5f5;
  border-radius: 4px;
  position: relative;
  margin: 20px 0;
  gap: 10px 20px;
}

.empresa::before {
  content: "";
  display: block;
  height: 20px;
  width: 4px;
  background-image: linear-gradient(#329cff, #0d4ecb);
  position: absolute;
  top: 20px;
  left: -4px;
}

.empresa-ano {
  font-size: 0.875rem;
  position: absolute;
  left: -100px;
  top: 20px;
  color: #525252;
  width: 80px;
  text-align: right;
}

.empresa h3 {
  font-family: "Arvo", Helvetica, sans-serif;
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
}

.empresa h3 img:hover {
  transition: 0.5s;
  rotate: 360deg;
}

.empresa-titulo {
  grid-column: span 4;
  display: flex;
  gap: 8px;
}

.empresa-titulo img {
  height: 20px;
  width: 20px;
}

.empresa-cargo {
  grid-column: span 3;
}

.empresa-texto {
  grid-column: span 4;
  font-size: 0.875rem;
  line-height: 1.42;
  max-width: 40ch;
  color: #525252;
}

.empresa-habilidades {
  grid-column: span 3;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.empresa-habilidades li {
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 4px;
  background: #fff;
  padding: 5px 10px;
}

@media (max-width: 1200px) {
  .experiencia .subtitulo {
    font-size: 6rem;
  }

  .experiencia-texto {
    font-size: 1.375rem;
    margin-bottom: 40px;
  }

  .empresa-texto {
    max-width: 33ch;
    font-size: 0.875rem;
    line-height: 1.3;
  }

  .empresa-ano {
    font-size: 0.75rem;
  }

  .empresa h3 {
    font-size: 1rem;
  }

  .empresa-habilidades li {
    font-size: 0.75rem;
  }
}

@media (max-width: 900px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .experiencia .subtitulo {
    grid-column: initial;
    font-size: 3rem;
    color: #000;
  }

  .experiencia-conteudo {
    grid-column: initial;
  }

  .experiencia-texto {
    max-width: 50ch;
    font-size: 1.25rem;
  }

  .empresa-ano {
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
  }
}

@media (max-width: 500px) {
  .empresa {
    grid-template-columns: 1fr;
    place-items: start;
    place-content: start;
    gap: 20px;
  }

  .empresa-texto {
    grid-column: initial;
  }

  .empresa-habilidades {
    grid-column: initial;
    justify-content: center;
  }

  .empresa-titulo {
    grid-column: initial;
  }

  .empresa-cargo {
    grid-column: initial;
  }
}