.footer {
  background: #000;
}

.footer .subtitulo {
  grid-column: span 6;
  font-family: "Arvo", serif;
  max-width: 4.5ch;
  color: #292929;
}

.footer .container {
  padding: 100px 20px;
}

.footer-contato {
  grid-column: 7 / -1;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  justify-items: start;
  align-items: center;
}

.footer-contato li {
  color: #fff;
  font-size: 1.625rem;
  line-height: 1.42;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-contato a {
  color: inherit;
  text-decoration: underline;
}

.footer-contato li:first-child {
  grid-column: 1 / -1;
}

.footer-contato li:last-child {
  align-self: center;
}

@media (max-width: 1200px) {
  .footer-contato li {
    font-size: 1.5git rem;
  }
}

@media (max-width: 900px) {
  .footer .container {
    grid-template-columns: 1fr;
    place-items: center;
    gap: 80px;
  }
}
