.footer {
  background: #000;
}

.footer .subtitulo {
  grid-column: span 6;
  font-family: "Arvo", serif;
  max-width: 4.5ch;
  color: #292929;
}

.footer .container {
  padding: 100px 20px;
}

.footer-contato {
  grid-column: 7 / -1;
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  gap: 20px;
  justify-items: start;
  align-items: center;
}

.footer-contato li {
  color: #fff;
  font-size: 1.625rem;
  line-height: 1.42;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-contato a {
  color: inherit;
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-contato a span {
  position: relative;
}

.footer-contato a span::after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background-color: #292929;
  position: absolute;
}

.footer-contato a span:hover::after {
  transition: 0.3s;
  width: 100%;
}


@media (max-width: 1200px) {
  .footer .subtitulo {
    font-size: 6rem;
  }

  .footer-contato li {
    font-size: 1.5rem;
  }
}

@media (max-width: 900px) {
  .footer .container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .footer .subtitulo {
    grid-column: initial;
    font-size: 3rem;
    color: #fff;
  }

  .footer-contato {
    grid-column: initial;
  }
}

@media (max-width: 500px) {
  .footer .container {
    grid-template-columns: 1fr;
    place-items: start;
  }

  .footer-contato li {
    font-size: 1.5rem;
  }
}