body {
  font-family: "Lato", Helvetica, sans-serif;
  font-weight: 400;
  color: #141414;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.container {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.template {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
}

.subtitulo {
  font-family: "Arvo", Helvetica, sans-serif;
  font-size: 7.5rem;
  line-height: 1.125;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4ch;
}

@media (max-width: 900px) {
  .subtitulo {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial !important;
  }
}
